li:hover{
    color: violet;
    text-decoration:underline;

}
.styling{
    bottom: 5%;
    left: 25%;
    
}
.view{
    background-color: darkmagenta; 
     color: white;
      border-radius: 25px;
       padding-top:10px;
       padding-left: 20px;
       padding-bottom: 10px;
        padding-right: 20px;
        border: none;
}
h1{
    font-size: 55px;
    text-align: start;
}
p{
    text-align: start; line-height: 20px;
}
.view:hover{
    background-color: rgb(223, 96, 223);
}
@media(max-width:1162px){
    h1{
        font-size: 50px;
    }
}

@media(max-width:800px){
h1{ font-size: 35px;   
}
.rok{
    width: 300px;
    font-size: 10px;
}
.view{
    font-size: 8px;
    padding: 2px;
}
.styling{
    margin-left: -110px;

}

}
@media(max-width:500px){
    h1{font-size: 30px;

    }
    .rok{
        width: %;

    }
    .styling{
        margin-left: -100px;
        padding: 5px;
    }
}

/* .............................................modal............................................. */

.mod{
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    padding: 15px;
    

}
input textarea section{
    border: none;
}
.lok{
    background-color: darkmagenta;
    width: 30%;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 10px;
}
.lok:hover{
    background-color: white;
    color: darkmagenta;
    border: solid 2px darkmagenta;
    font-weight: 400px;
}
/* .btn1{
    background-color: darkmagenta;
    border-radius: 30px;
} */
.col1{
    border: solod 2px;
    /* height: 500px; */
}
.col2{ 
    
    

}

    

